.header-booking {
  display: flex;
  border: 1px solid #d73953;
  height: auto;
  position: fixed;
  left: 30PX;
  TOP: 133px;
  background-color: #ff306a;
  transition: all 0.3s ease;
  margin-top: 0px;
  font-family: monospace;
  max-width: max-content;
  border-radius: 22px;
  padding: 10px;
  color: white;
  font-weight: bolder;
  font-size: 20PX;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 2px 6px 20px 10px rgba(201, 57, 57, 0.3); */
  z-index: 11330;
  margin-bottom: 6px;
}
.header-booking.scrolled:hover {
  color: white; /* Change text color on hover */
  box-shadow: 0 0 20px 8px rgba(201, 57, 57, 0.3);
  background: #d73953;
}
.header-booking:hover {
  color: white; /* Change text color on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
  box-shadow: 0 0 20px 8px rgba(201, 57, 57, 0.3);
  background: #d73953;
}
.header-booking:hover .fa-chevron-left {
  color: white; /* Change icon color on hover */
}
.header-booking.scrolled {
    position: fixed;
    background-color: #ff306a;
    margin: 5px;
    left: 38%;
    TOP: 44PX;
    transform: translateX(-50%);
    width: max-content;
    padding: 6px ;
    z-index: 11330;
    BOX-SHADOW: NONE;
}

/* Mobile styles */
@media (max-width: 768px) {
  .header-booking {
    width: 50%;
    font-size: 14PX;
    margin-top: 10px;
    padding: 8px;
    margin-bottom: -42px;
    height: 21px;
}

  .header-booking.scrolled {
    height: 19px;
    margin-top: -6PX;
    left: 79%;
    BOX-SHADOW: NONE;
    border: none;
    width: max-content;
    padding: 8px;
    padding-top: 4px;
    TOP: 42px;
  }
}
