/* Navbar.css */
.navbar {
  background-color: #ffffff;
  color: #ccc;
  padding: 10px 20px;
  position: fixed;
  height: 90px;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
    width: 130PX;
    POSITION: RELATIVE;
    TOP: 28px;
}

.nav-links {
  display: flex;
  gap: 20px;
  position: relative;
  left: 13%;
  top: 28px;
}

.nav-links a {
  padding: 14px;
  color: #493c3c;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.nav-links a:hover {
  background-color: #ff306a;
}
.nav-links a.active {
  border-bottom: 2PX solid  #ff306a;
}
.dropdown {
  position: relative;
  right: 34px;
  top: 35px;
}

.dropbtn {
  background: aliceblue;
  border: none;
  color: #ff306a;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  margin-bottom: 15px;
  color: #493c3c;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
}
.dropdown-content a.active {
  border-left: 4PX solid  #ff306a;
}
.dropdown-content .icon-spacing {
  margin-right: 8px; /* Adjust the spacing as needed */
}

.dropdown-content a:hover {
  background-color: #ff306a;
}

.dropdown-content.show {
    display: block;
    position: fixed;
    top: 80px;
    border: 1px solid #ff306a;
    border-radius: 10PX;
}

.profile-image img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .nav-links {
        POSITION: fixed;
        LEFT: 7px;
        padding: 0PX;
        margin-right: 6px;
        gap: 0px;
        margin-top: 35px;
  }
  .nav-links a {
    font-size: 12px;
  }

  .dropdown-content {
    position: relative;
    
  }
  .dropbtn {
    height: 30px;
    POSITION: RELATIVE;
    TOP: 28px;
    font-size: 14px;
  }
  .dropdown-content.show {
    top: 101px;
  }
  .dropdown-content a {
    font-size: 9px;
  }
  .navbar {
    border-bottom: 1px solid #ccc;
  }
}
