.search-bar {
  height: 38px;
  position: fixed;
  background-color: none;
  margin-top: 2px;
  left: 38%;
  top: 45px;
  transform: translateX(-50%);
  width: 24%;
  padding: 5px 10px;
  z-index: 11330;
  box-shadow: none;
  display: flex;
  align-items: center;
}

.search-inp {
  border: none;
  flex: 1;
  padding: 5px;
}

.search-bar .search-icon {
  background: none;
  WIDTH: fit-content;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}
.search-icon:hover {
  background-color: #ff306a;
  box-shadow: none;
  color: bisque;
  WIDTH: 33px;
  font-size: 16px;
  height: 33px;
}
.search-dropdown {
  position: absolute;
  top: 45PX;
  left: 0;
  width: 100%;
  background-color: NONE;
  border: none;
  box-shadow: NONE;
  z-index: 11331;
}

.search-dropdown .search-history {
  padding: 30px;
}
.search-dropdown .search-results {
  padding: 5px;
}


@media (max-width: 768px) {
  .search-bar {
    height: 31PX;
    margin-top: -12PX;
    left: 68%;
    BOX-SHADOW: NONE;
    width: 50%;
  }
  .search-inp {
    width: 80%;
    height: 14px;
  }
  .logo img {
    position: fixed;
    top: 36px;
    LEFT: 8px;
    width: 110px;
  }
  .menu-toggle svg {
    MARGIN-TOP: 37PX;
    font-size: 24px;
    color: #333;
  }
  .search-icon {
    width: 20%;
    font-size: 1.4em;
  }
}
