/* Profilehost.css */
/* In your main CSS file or component CSS file */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.service-section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Space between service cards */
}
.error-text {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
  display: block;
}

.reagir {
   display: flex;
   border-top: 1PX SOLID #CCC;
}
button.drop {
    width: 30PX;
    font-size: 30PX;
    background: none;
    border: none;
}
button.drop:hover {
   border: none;
   background: none;
   box-shadow: none;
   color: black;
}
.rg {
    font-size: 30px;
    margin-left: 20%;
}
.menr {
    position: relative;
    DIRECTION: rtl;
    FONT-SIZE: 29PX;
    MARGIN-BOTTOM: -57PX;
    cursor: pointer;
    COLOR: #ff306a;
}
.actionbtp {
  border-radius: 0px;
  width: 88%;
  position: relative;
  left: 3px;
  COLOR: black;
  MARGIN: 5px;
  margin-bottom: 10px;
  /* height: 36px; */
  background: none;
  padding: 0px;
  border: none;
  border-bottom: 1px SOLID #CCC;
}
.actionbtp:hover {
  box-shadow: none;
}
.dropdown-ent {
  display: none;
  position: absolute;
  direction: ltr;
  background-color: #f9f9f9;
  width: 165px;
  border-radius: 22px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
}

.dropdown-ent.show {
  display: block; /* Show dropdown */
}

.sercard {
    border-top: 1px solid #ccc;
    margin-bottom: 56px;
    max-width: 684px;
    padding: 10px;
    cursor: pointer;
    background: aliceblue;
    border: 1px solid #ff306a;
    border-radius: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.sercard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
}
.nameuser {
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 10px;
}
.nameuser img {
   border-radius: 50%;
}
.nameouner {
  max-width: fit-content;
  position: relative;
  top: -46px;
  left: 59px;
}
.nameouner h5 {
    position: relative;
    top: -13px;
}
.up {
	font-size: 8px;
        position: relative;
        top: -40px;
}
.up h4 {
    margin-top: -18px;
}
.sercard h3 {
  background: #ff306a;
  color: white;
  padding: 17px;
  max-width: fit-content;
  position: relative;
  MARGIN-TOP: -35PX;
}
.carousel-container {
  border-radius: 20px;
  width: 100%;
  height: 300px; /* Adjust height as needed */
  overflow: hidden; /* Hide overflowed content */
}
.slick-next {
     right: 10px;
     z-index: 1;
     TOP: 50%;
     FONT-SIZE: 30px;
}
.slick-prev {
    left: 10px;
    z-index: 1;
    TOP: 50%;
    FONT-SIZE: 30px;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 26px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before:hover, .slick-next:before:hover {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    transform: none;
    color: white;
    box-shadow: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container without distortion */
  border: none; /* Remove any border */
  box-shadow: none; /* Remove any box shadow */
}

.slick-slider {
  margin: 0;
  padding: 0;
}

.slick-slide {
  outline: none;
}

.slick-dots {
  bottom: 10px; /* Adjust the position of the dots if needed */
}
.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cover-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profile-picture {
  width: 150px;
  height: 150px;
  position: relative;
  top: -42px;
  left: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.infosaver {
   width: 100%;
   MARGIN-TOP: 30px;
   display: flex;
   flex-direction: column;
   position: relative;
   HEIGHT: 592px;
}
.cancel-save {
    position: absolute;
    top: -34px;
    width: fit-content;
    right: 0px;
    background: white;
    color: darkblue;
}

.name h1 {
  font-size: 22px;
  position: relative;
  top: -112px;
  left: 176px;
}

.infoprs p {
  width: 100%;
  font-size: 13px;
}

.info-service-container {
  display: flex;
  flex-wrap: nowrap;
}

.infoprs {
  border-right: 1px solid #ccc;
  display: inline-table;
  position: relative;
  top: -60px;
  padding-right: 20px;
}

.name {
  border-top: 1px solid #ccc;
  position: relative;
  top: -22px;
}

.editinfo button {
  width: 60px;
}

/* Add Service Button and Form Styles */
.info-and-service {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.add-service-container {
  display: flex;
  align-items: center;
  border: 1px solid #ff306a;
  border-radius: 9px;
  padding: 0px 16px;
  background-color: #ecf3ff5c;
  height: 60px;
  width: 49%;
  margin-left: 20px; /* space between info and add service button */
}

.add-service-icon {
    font-size: 18px;
    border: 1PX SOLID #CCC;
    margin-right: 8px;
    PADDING: 10px;
    border-radius: 50%;
}

.add-service {
  background-color: #ff306a; /* Changed background color */
  color: #ffffff;
  border: 1px solid #ff306a;
  width: 90%;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 9px;
  position: relative;
  top: 0px;
  height: 33PX;
}
.add-service:hover {
   box-shadow: #d31248;
   background-color: #d31248;
   box-shadow: 0 0 20px 8px rgba(201, 57, 57, 0.3);
}
.add-service-container:hover {
   box-shadow: 0 0 20px 8px rgba(201, 57, 57, 0.3);
}
/* Fixed form styling */
.service-form {
  position: fixed;
  top: 10%; /* Adjust top position as needed */
  left: 50%;
  transform: translate(-50%, -10%);
  background-color: #ECF3FF;
  padding: 20px;
  box-shadow: 2px 2px 228px 212px rgb(0 0 0 / 36%);
  z-index: 1000;
  width: 80%;
  HEIGHT: 90%;
  max-width: 500px;
  overflow-y: auto; /* Enable vertical scrolling */
}

.containerform {
    width: 100%;
    MARGIN-TOP: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* height: auto; */
    HEIGHT: 1050px;
}

.containerform div {
  margin-bottom: 15px;
}
.infosaver div {
  margin-bottom: 15px;
}
.infosaver label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.infosaver input[type="text"],
.infosaver input[type="file"] {
  width: calc(100% - 40px); /* Adjust width to accommodate icon */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.containerform label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.containerform label img {
  width: 24px; /* Adjust icon size */
  height: 24px;
  margin-right: 8px;
}

.containerform input[type="text"],
.containerform input[type="file"] {
  width: calc(100% - 40px); /* Adjust width to accommodate icon */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.service-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.post-submit,
.cancel-submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.cancel-submit {
  background-color: #dc3545;
}

.cancel-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding-top: 6px;
    width: 41PX;
    background: #ffffff;
    border: 1px solid #ff306a;
    cursor: pointer;
    color: #4a3e3e;
    font-size: 27px;
}

.cancel-button:hover {
  color: #ff306a; /* Change color on hover if desired */
}
.editinfo {
        border: 1px solid #d73953;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 39px;
        background-color: white;
        transition: all 0.3s ease;
        margin-top: 0px;
        max-width: revert-layer;
        border-radius: 0px;
        padding: 0px;
        color: #493c3c;
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 4px rgba(201, 57, 57, 0.3);
        /* z-index: 11330; */
        margin-bottom: 6px;
}
.saveinfo {
        border: 1px solid #d73953;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 39px;
        background-color: white;
        transition: all 0.3s ease;
        margin-top: 0px;
        max-width: revert-layer;
        border-radius: 0px;
        padding: 0px;
        color: #493c3c;
        width: 200px;
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 4px rgba(201, 57, 57, 0.3);
        /* z-index: 11330; */
        margin-bottom: 6px;
}
.editinfo:hover {
  color: white; /* Change text color on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
  box-shadow: 0 0 20px 8px rgba(201, 57, 57, 0.3);
  background: #d73953;
}
.cancel-save:hover {
  color: white; /* Change text color on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
  box-shadow: 0 0 20px 8px rgba(201, 57, 57, 0.3);
  background: #d73953;
}
.saveinfo:hover {
  color: white; /* Change text color on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
  box-shadow: 0 0 20px 8px rgba(201, 57, 57, 0.3);
  background: #d73953;
}
input[type="email"], input[type="password"] {
    height: 42px;
    WIDTH: 80%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 24px;
    font-size: 16px;
}

@media (max-width: 767px) {
  .cover-photo {
    width: 100%;
    height: auto;
  }

  .name h1 {
    font-size: 11px;
    position: relative;
    width: 200px;
    top: -81px;
    left: 116px;
  }

  .info-and-service {
    flex-direction: column;
    align-items: flex-start;
  }

  .infoprs p {
    font-size: 8px;
  }

  .infoprs {
    top: -45px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
  }

  .profile-picture {
    width: 100px;
    height: 100px;
    top: -42px;
    left: 10px;
  }

  .profile-container {
    padding: 10px;
  }

  .editinfo {
        border: 1px solid #d73953;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 39px;
        background-color: white;
        transition: all 0.3s ease;
        margin-top: 0px;
        max-width: revert-layer;
        border-radius: 0px;
        padding: 0px;
        color: #493c3c;
        font-size: 10px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 4px rgba(201, 57, 57, 0.3);
        /* z-index: 11330; */
        margin-bottom: 6px;
  }

  .add-service-container {
        width: 53%;
        padding: 10px;
        height: 20px;
        margin-top: 0px;
  }

  .add-service-icon {
        font-size: 14px;
        margin-right: 5px;
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 50%;
        background: #FFFFFE;
  }

  .add-service {
        font-size: 9px;
        padding: 6px 12px;
        height: 29px;
        color: #ffffff;
        background-color: #ff306a;
  }
  .sercard h3 {
        background: #ff306a;
        color: white;
        padding: 12px;
        font-size: 12PX;
        max-width: fit-content;
  }
  .carousel-container {
     height: 193PX;
  }
  .slick-dots li {
   width: 0px;
  }
}
